body{
    background:linear-gradient(336deg, rgba(255, 187, 0, 0.8), rgba(0,0,255,0) 70.71%);
  
}

.espace{
    padding-top:50px;
    padding-bottom:30px;
    padding-left:30%;
    padding-right:50%;
    
   }
   
   .divhead{

    width: 100%;
    background-color:black;
    margin-left: 0%;
    margin-right: 20%;
    height:10%;
   }
  
   .div1{
    margin-top:20xp;
    margin-bottom:30xp;
    margin-left:30%;
    margin-right:30%;
}
.div2{
    float:right;
}